

/Adaptor_DesignPattern/.vs/Adaptor_DesignPattern/copilot-chat/3bf15289/sessions/3991593c-1d6e-41e9-b41f-9cec5ec8a20c
/Adaptor_DesignPattern/.vs/Adaptor_DesignPattern/copilot-chat/3bf15289/sessions/7b7b817a-60e9-4648-9bfd-6ab0af7c6508
/Adaptor_DesignPattern/.vs/Adaptor_DesignPattern/CopilotIndices/17.14.1091.29919/CodeChunks.db
/Adaptor_DesignPattern/.vs/Adaptor_DesignPattern/CopilotIndices/17.14.1091.29919/SemanticSymbols.db
/Adaptor_DesignPattern/.vs/Adaptor_DesignPattern/FileContentIndex/1647da2e-3b4b-4ce8-b64b-144d4fdfbbee.vsidx
/Adaptor_DesignPattern/.vs/Adaptor_DesignPattern/FileContentIndex/3ff7fabf-fd3b-4770-980c-ed18f179524e.vsidx
/Adaptor_DesignPattern/.vs/Adaptor_DesignPattern/FileContentIndex/45f5c85f-e519-420f-8b67-0f24959c1440.vsidx
/Adaptor_DesignPattern/.vs/Adaptor_DesignPattern/FileContentIndex/48675114-7660-405b-905e-314675841fdf.vsidx
/Adaptor_DesignPattern/.vs/Adaptor_DesignPattern/FileContentIndex/77610d93-e836-4ab5-98b6-a828e246c241.vsidx
/Adaptor_DesignPattern/.vs/Adaptor_DesignPattern/v17/.suo
/Adaptor_DesignPattern/.vs/Adaptor_DesignPattern/v17/Browse.VC.db
/Adaptor_DesignPattern/.vs/Adaptor_DesignPattern/v17/DocumentLayout.backup.json
/Adaptor_DesignPattern/.vs/Adaptor_DesignPattern/v17/DocumentLayout.json
/Adaptor_DesignPattern/.vs/Adaptor_DesignPattern/v17/ipch/AutoPCH/1f11aef4b75cce57/ADAPTEE.ipch
/Adaptor_DesignPattern/.vs/Adaptor_DesignPattern/v17/ipch/AutoPCH/4747e1792d17f3/ADAPTOR_DESIGNPATTERN.ipch
/Adaptor_DesignPattern/.vs/Adaptor_DesignPattern/v17/ipch/AutoPCH/64d0125dd51aabc7/ADAPTER.ipch
/Adaptor_DesignPattern/.vs/Adaptor_DesignPattern/v17/ipch/AutoPCH/91c7412622b01464/TARGET.ipch
/Adaptor_DesignPattern/.vs/Adaptor_DesignPattern/v17/ipch/AutoPCH/a3acf9be8d1edcbd/ADAPTEE.ipch
/Adaptor_DesignPattern/.vs/Adaptor_DesignPattern/v17/ipch/AutoPCH/a4c6fa8f5ca6e9dc/ADAPTER.ipch
/Adaptor_DesignPattern/.vs/Adaptor_DesignPattern/v17/ipch/AutoPCH/b1f003a974ab64a1/MAIN_ADAPTOR_DESIGNPATTERN.ipch
/Adaptor_DesignPattern/.vs/Adaptor_DesignPattern/v17/ipch/AutoPCH/cc4dcbe00eb60346/TARGET.ipch
/Adaptor_DesignPattern/.vs/Adaptor_DesignPattern/v17/ipch/AutoPCH/ecc5f4b4c90fb462/ADAPTER.ipch
/Adaptor_DesignPattern/.vs/Adaptor_DesignPattern/v17/ipch/AutoPCH/f4fd677fec5a438b/MAIN_ADAPTOR_DESIGNPATTERN.ipch
/Adaptor_DesignPattern/.vs/Adaptor_DesignPattern/v17/Solution.VC.db
/Adaptor_DesignPattern/Adaptor_.004bf2e5/x64/Debug/Adaptee.obj
/Adaptor_DesignPattern/Adaptor_.004bf2e5/x64/Debug/Adapter.obj
/Adaptor_DesignPattern/Adaptor_.004bf2e5/x64/Debug/Adaptor_.004bf2e5.tlog/Adaptor_DesignPattern.lastbuildstate
/Adaptor_DesignPattern/Adaptor_.004bf2e5/x64/Debug/Adaptor_.004bf2e5.tlog/CL.command.1.tlog
/Adaptor_DesignPattern/Adaptor_.004bf2e5/x64/Debug/Adaptor_.004bf2e5.tlog/Cl.items.tlog
/Adaptor_DesignPattern/Adaptor_.004bf2e5/x64/Debug/Adaptor_.004bf2e5.tlog/CL.read.1.tlog
/Adaptor_DesignPattern/Adaptor_.004bf2e5/x64/Debug/Adaptor_.004bf2e5.tlog/CL.write.1.tlog
/Adaptor_DesignPattern/Adaptor_.004bf2e5/x64/Debug/Adaptor_.004bf2e5.tlog/link.command.1.tlog
/Adaptor_DesignPattern/Adaptor_.004bf2e5/x64/Debug/Adaptor_.004bf2e5.tlog/link.read.1.tlog
/Adaptor_DesignPattern/Adaptor_.004bf2e5/x64/Debug/Adaptor_.004bf2e5.tlog/link.secondary.1.tlog
/Adaptor_DesignPattern/Adaptor_.004bf2e5/x64/Debug/Adaptor_.004bf2e5.tlog/link.write.1.tlog
/Adaptor_DesignPattern/Adaptor_.004bf2e5/x64/Debug/Adaptor_DesignPattern.exe.recipe
/Adaptor_DesignPattern/Adaptor_.004bf2e5/x64/Debug/Adaptor_DesignPattern.ilk
/Adaptor_DesignPattern/Adaptor_.004bf2e5/x64/Debug/Adaptor_DesignPattern.log
/Adaptor_DesignPattern/Adaptor_.004bf2e5/x64/Debug/main_Adaptor_DesignPattern.obj
/Adaptor_DesignPattern/Adaptor_.004bf2e5/x64/Debug/Target.obj
/Adaptor_DesignPattern/Adaptor_.004bf2e5/x64/Debug/vc143.idb
/Adaptor_DesignPattern/Adaptor_.004bf2e5/x64/Debug/vc143.pdb
/Adaptor_DesignPattern/Adaptor_DesignPattern.sln
/Adaptor_DesignPattern/Adaptor_DesignPattern.vcxproj
/Adaptor_DesignPattern/Adaptor_DesignPattern.vcxproj.filters
/Adaptor_DesignPattern/Adaptor_DesignPattern.vcxproj.user
/Adaptor_DesignPattern/x64/Debug/Adaptor_DesignPattern.exe
/Adaptor_DesignPattern/x64/Debug/Adaptor_DesignPattern.pdb
/StructuralDesignPatterns/Adaptor_DesignPattern/.vs/Adaptor_DesignPattern/copilot-chat/3bf15289/sessions/3991593c-1d6e-41e9-b41f-9cec5ec8a20c
/StructuralDesignPatterns/Adaptor_DesignPattern/.vs/Adaptor_DesignPattern/copilot-chat/3bf15289/sessions/7b7b817a-60e9-4648-9bfd-6ab0af7c6508
/StructuralDesignPatterns/Adaptor_DesignPattern/.vs/Adaptor_DesignPattern/CopilotIndices/17.14.1091.29919/CodeChunks.db
/StructuralDesignPatterns/Adaptor_DesignPattern/.vs/Adaptor_DesignPattern/CopilotIndices/17.14.1091.29919/SemanticSymbols.db
/StructuralDesignPatterns/Adaptor_DesignPattern/.vs/Adaptor_DesignPattern/FileContentIndex/1647da2e-3b4b-4ce8-b64b-144d4fdfbbee.vsidx
/StructuralDesignPatterns/Adaptor_DesignPattern/.vs/Adaptor_DesignPattern/FileContentIndex/3ff7fabf-fd3b-4770-980c-ed18f179524e.vsidx
/StructuralDesignPatterns/Adaptor_DesignPattern/.vs/Adaptor_DesignPattern/FileContentIndex/45f5c85f-e519-420f-8b67-0f24959c1440.vsidx
/StructuralDesignPatterns/Adaptor_DesignPattern/.vs/Adaptor_DesignPattern/FileContentIndex/48675114-7660-405b-905e-314675841fdf.vsidx
/StructuralDesignPatterns/Adaptor_DesignPattern/.vs/Adaptor_DesignPattern/FileContentIndex/77610d93-e836-4ab5-98b6-a828e246c241.vsidx
/StructuralDesignPatterns/Adaptor_DesignPattern/.vs/Adaptor_DesignPattern/v17/.suo
/StructuralDesignPatterns/Adaptor_DesignPattern/.vs/Adaptor_DesignPattern/v17/Browse.VC.db
/StructuralDesignPatterns/Adaptor_DesignPattern/.vs/Adaptor_DesignPattern/v17/DocumentLayout.backup.json
/StructuralDesignPatterns/Adaptor_DesignPattern/.vs/Adaptor_DesignPattern/v17/DocumentLayout.json
/StructuralDesignPatterns/Adaptor_DesignPattern/.vs/Adaptor_DesignPattern/v17/ipch/AutoPCH/1f11aef4b75cce57/ADAPTEE.ipch
/StructuralDesignPatterns/Adaptor_DesignPattern/.vs/Adaptor_DesignPattern/v17/ipch/AutoPCH/4747e1792d17f3/ADAPTOR_DESIGNPATTERN.ipch
/StructuralDesignPatterns/Adaptor_DesignPattern/.vs/Adaptor_DesignPattern/v17/ipch/AutoPCH/64d0125dd51aabc7/ADAPTER.ipch
/StructuralDesignPatterns/Adaptor_DesignPattern/.vs/Adaptor_DesignPattern/v17/ipch/AutoPCH/91c7412622b01464/TARGET.ipch
/StructuralDesignPatterns/Adaptor_DesignPattern/.vs/Adaptor_DesignPattern/v17/ipch/AutoPCH/a3acf9be8d1edcbd/ADAPTEE.ipch
/StructuralDesignPatterns/Adaptor_DesignPattern/.vs/Adaptor_DesignPattern/v17/ipch/AutoPCH/a4c6fa8f5ca6e9dc/ADAPTER.ipch
/StructuralDesignPatterns/Adaptor_DesignPattern/.vs/Adaptor_DesignPattern/v17/ipch/AutoPCH/b1f003a974ab64a1/MAIN_ADAPTOR_DESIGNPATTERN.ipch
/StructuralDesignPatterns/Adaptor_DesignPattern/.vs/Adaptor_DesignPattern/v17/ipch/AutoPCH/cc4dcbe00eb60346/TARGET.ipch
/StructuralDesignPatterns/Adaptor_DesignPattern/.vs/Adaptor_DesignPattern/v17/ipch/AutoPCH/ecc5f4b4c90fb462/ADAPTER.ipch
/StructuralDesignPatterns/Adaptor_DesignPattern/.vs/Adaptor_DesignPattern/v17/ipch/AutoPCH/f4fd677fec5a438b/MAIN_ADAPTOR_DESIGNPATTERN.ipch
/StructuralDesignPatterns/Adaptor_DesignPattern/.vs/Adaptor_DesignPattern/v17/Solution.VC.db
/StructuralDesignPatterns/Adaptor_DesignPattern/Adaptor_.004bf2e5/x64/Debug/Adaptee.obj
/StructuralDesignPatterns/Adaptor_DesignPattern/Adaptor_.004bf2e5/x64/Debug/Adapter.obj
/StructuralDesignPatterns/Adaptor_DesignPattern/Adaptor_.004bf2e5/x64/Debug/Adaptor_.004bf2e5.tlog/Adaptor_DesignPattern.lastbuildstate
/StructuralDesignPatterns/Adaptor_DesignPattern/Adaptor_.004bf2e5/x64/Debug/Adaptor_.004bf2e5.tlog/CL.command.1.tlog
/StructuralDesignPatterns/Adaptor_DesignPattern/Adaptor_.004bf2e5/x64/Debug/Adaptor_.004bf2e5.tlog/Cl.items.tlog
/StructuralDesignPatterns/Adaptor_DesignPattern/Adaptor_.004bf2e5/x64/Debug/Adaptor_.004bf2e5.tlog/CL.read.1.tlog
/StructuralDesignPatterns/Adaptor_DesignPattern/Adaptor_.004bf2e5/x64/Debug/Adaptor_.004bf2e5.tlog/CL.write.1.tlog
/StructuralDesignPatterns/Adaptor_DesignPattern/Adaptor_.004bf2e5/x64/Debug/Adaptor_.004bf2e5.tlog/link.command.1.tlog
/StructuralDesignPatterns/Adaptor_DesignPattern/Adaptor_.004bf2e5/x64/Debug/Adaptor_.004bf2e5.tlog/link.read.1.tlog
/StructuralDesignPatterns/Adaptor_DesignPattern/Adaptor_.004bf2e5/x64/Debug/Adaptor_.004bf2e5.tlog/link.secondary.1.tlog
/StructuralDesignPatterns/Adaptor_DesignPattern/Adaptor_.004bf2e5/x64/Debug/Adaptor_.004bf2e5.tlog/link.write.1.tlog
/StructuralDesignPatterns/Adaptor_DesignPattern/Adaptor_.004bf2e5/x64/Debug/Adaptor_DesignPattern.exe.recipe
/StructuralDesignPatterns/Adaptor_DesignPattern/Adaptor_.004bf2e5/x64/Debug/Adaptor_DesignPattern.ilk
/StructuralDesignPatterns/Adaptor_DesignPattern/Adaptor_.004bf2e5/x64/Debug/Adaptor_DesignPattern.log
/StructuralDesignPatterns/Adaptor_DesignPattern/Adaptor_.004bf2e5/x64/Debug/main_Adaptor_DesignPattern.obj
/StructuralDesignPatterns/Adaptor_DesignPattern/Adaptor_.004bf2e5/x64/Debug/Target.obj
/StructuralDesignPatterns/Adaptor_DesignPattern/Adaptor_.004bf2e5/x64/Debug/vc143.idb
/StructuralDesignPatterns/Adaptor_DesignPattern/Adaptor_.004bf2e5/x64/Debug/vc143.pdb
/StructuralDesignPatterns/Adaptor_DesignPattern/Adaptor_DesignPattern.sln
/StructuralDesignPatterns/Adaptor_DesignPattern/Adaptor_DesignPattern.vcxproj
/StructuralDesignPatterns/Adaptor_DesignPattern/Adaptor_DesignPattern.vcxproj.filters
/StructuralDesignPatterns/Adaptor_DesignPattern/Adaptor_DesignPattern.vcxproj.user
/StructuralDesignPatterns/Adaptor_DesignPattern/x64/Debug/Adaptor_DesignPattern.exe
/StructuralDesignPatterns/Adaptor_DesignPattern/x64/Debug/Adaptor_DesignPattern.pdb
/.vs/DesignPattern/CopilotIndices/17.14.1091.29919/CodeChunks.db
/.vs/DesignPattern/CopilotIndices/17.14.1091.29919/CodeChunks.db-shm
/.vs/DesignPattern/CopilotIndices/17.14.1091.29919/CodeChunks.db-wal
/.vs/DesignPattern/CopilotIndices/17.14.1091.29919/SemanticSymbols.db
/.vs/DesignPattern/CopilotIndices/17.14.1091.29919/SemanticSymbols.db-shm
/.vs/DesignPattern/CopilotIndices/17.14.1091.29919/SemanticSymbols.db-wal
/.vs/DesignPattern/FileContentIndex/2b775b41-61e4-4788-9fed-f556f1d9010c.vsidx
/.vs/DesignPattern/FileContentIndex/35bca75a-6879-4b78-954e-118b6316b668.vsidx
/.vs/DesignPattern/FileContentIndex/58e3d060-5107-4422-9277-dc3b16efc4f7.vsidx
/.vs/DesignPattern/FileContentIndex/af7dd172-71a7-4550-8951-d05b0b3ad378.vsidx
/.vs/DesignPattern/FileContentIndex/d82ed3c7-db81-409d-9c3b-09ec9e4eda55.vsidx
/.vs/DesignPattern/v17/.suo
/.vs/DesignPattern/v17/Browse.VC.db
/.vs/DesignPattern/v17/Browse.VC.db-shm
/.vs/DesignPattern/v17/Browse.VC.db-wal
/.vs/DesignPattern/v17/Browse.VC.opendb
/.vs/DesignPattern/v17/DocumentLayout.backup.json
/.vs/DesignPattern/v17/DocumentLayout.json
/.vs/DesignPattern/v17/ipch/AutoPCH/12d876baef4385a1/MAIN_ADAPTOR_DESIGNPATTERN.ipch
/.vs/DesignPattern/v17/ipch/AutoPCH/3e8671c7cc9f5683/DESIGNPATTERN.ipch
/.vs/DesignPattern/v17/ipch/AutoPCH/5db09bf7c78b435e/MAIN_ADAPTOR_DESIGNPATTERN.ipch
/.vs/DesignPattern/v17/ipch/AutoPCH/ab38c2d9c9925140/MAIN_ADAPTOR_DESIGNPATTERN.ipch
/.vs/DesignPattern/v17/ipch/AutoPCH/f3e3b58ae3653ffd/MAIN_ADAPTOR_DESIGNPATTERN.ipch
/.vs/DesignPattern/v17/Solution.VC.db
/DesignPattern/x64/Debug/Adaptee.obj
/DesignPattern/x64/Debug/Adapter.obj
/DesignPattern/x64/Debug/DesignPattern.exe.recipe
/DesignPattern/x64/Debug/DesignPattern.ilk
/DesignPattern/x64/Debug/DesignPattern.log
/DesignPattern/x64/Debug/DesignPattern.tlog/CL.command.1.tlog
/DesignPattern/x64/Debug/DesignPattern.tlog/Cl.items.tlog
/DesignPattern/x64/Debug/DesignPattern.tlog/CL.read.1.tlog
/DesignPattern/x64/Debug/DesignPattern.tlog/CL.write.1.tlog
/DesignPattern/x64/Debug/DesignPattern.tlog/DesignPattern.lastbuildstate
/DesignPattern/x64/Debug/DesignPattern.tlog/link.command.1.tlog
/DesignPattern/x64/Debug/DesignPattern.tlog/link.read.1.tlog
/DesignPattern/x64/Debug/DesignPattern.tlog/link.secondary.1.tlog
/DesignPattern/x64/Debug/DesignPattern.tlog/link.write.1.tlog
/DesignPattern/x64/Debug/main_Adaptor_DesignPattern.obj
/DesignPattern/x64/Debug/Target.obj
/DesignPattern/x64/Debug/vc143.idb
/DesignPattern/x64/Debug/vc143.pdb
/x64/Debug/DesignPattern.exe
/x64/Debug/DesignPattern.pdb
/.vs/DesignPattern/FileContentIndex/2070f024-140a-430d-8ce4-c3dc7391ed0e.vsidx
/.vs/DesignPattern/FileContentIndex/2389e9b1-1662-4fbe-a065-9b39f790f0ff.vsidx
/.vs/DesignPattern/FileContentIndex/36747725-16cc-46e1-970d-6cebc947a740.vsidx
/.vs/DesignPattern/FileContentIndex/79d5360c-9724-4878-8684-c345c0577812.vsidx
/.vs/DesignPattern/v17/ipch/AutoPCH/36f31e9d49063129/FLIGHTSIMULATOR.ipch
/.vs/DesignPattern/v17/ipch/AutoPCH/86ec5a96cd6a4f6d/INPUT.ipch
/.vs/DesignPattern/v17/ipch/AutoPCH/9c3cae0401fa7e74/KEYBOARD.ipch
/.vs/DesignPattern/v17/ipch/AutoPCH/b2b2541921113e5a/MAIN.ipch
/.vs/DesignPattern/v17/ipch/AutoPCH/c4051d16151bdbf0/GIPSXKE1..ipch
/.vs/DesignPattern/v17/ipch/AutoPCH/cb46ad6e23335762/ADAPTER.ipch
/StructuralDesignPatterns/Adaptor_DesignPattern/FlightSimulator/.vs/FlightSimulator/CopilotIndices/17.14.1091.29919/CodeChunks.db
/StructuralDesignPatterns/Adaptor_DesignPattern/FlightSimulator/.vs/FlightSimulator/CopilotIndices/17.14.1091.29919/CodeChunks.db-shm
/StructuralDesignPatterns/Adaptor_DesignPattern/FlightSimulator/.vs/FlightSimulator/CopilotIndices/17.14.1091.29919/CodeChunks.db-wal
/StructuralDesignPatterns/Adaptor_DesignPattern/FlightSimulator/.vs/FlightSimulator/CopilotIndices/17.14.1091.29919/SemanticSymbols.db
/StructuralDesignPatterns/Adaptor_DesignPattern/FlightSimulator/.vs/FlightSimulator/CopilotIndices/17.14.1091.29919/SemanticSymbols.db-shm
/StructuralDesignPatterns/Adaptor_DesignPattern/FlightSimulator/.vs/FlightSimulator/CopilotIndices/17.14.1091.29919/SemanticSymbols.db-wal
/StructuralDesignPatterns/Adaptor_DesignPattern/FlightSimulator/.vs/FlightSimulator/FileContentIndex/1e5d5033-325b-49d7-b546-3d94d3c6828a.vsidx
/StructuralDesignPatterns/Adaptor_DesignPattern/FlightSimulator/.vs/FlightSimulator/FileContentIndex/2127ef48-283d-4e49-8bc1-3fdbb1848fbf.vsidx
/StructuralDesignPatterns/Adaptor_DesignPattern/FlightSimulator/.vs/FlightSimulator/FileContentIndex/2776567b-cb35-4c2c-9205-67caa0885c51.vsidx
/StructuralDesignPatterns/Adaptor_DesignPattern/FlightSimulator/.vs/FlightSimulator/FileContentIndex/6205ead7-9f28-48ee-b619-c5c890c3953e.vsidx
/StructuralDesignPatterns/Adaptor_DesignPattern/FlightSimulator/.vs/FlightSimulator/FileContentIndex/ff276741-4a2a-466d-8aa9-3ac824865404.vsidx
/StructuralDesignPatterns/Adaptor_DesignPattern/FlightSimulator/.vs/FlightSimulator/v17/.suo
/StructuralDesignPatterns/Adaptor_DesignPattern/FlightSimulator/.vs/FlightSimulator/v17/Browse.VC.db
/StructuralDesignPatterns/Adaptor_DesignPattern/FlightSimulator/.vs/FlightSimulator/v17/Browse.VC.db-shm
/StructuralDesignPatterns/Adaptor_DesignPattern/FlightSimulator/.vs/FlightSimulator/v17/Browse.VC.db-wal
/StructuralDesignPatterns/Adaptor_DesignPattern/FlightSimulator/.vs/FlightSimulator/v17/Browse.VC.opendb
/StructuralDesignPatterns/Adaptor_DesignPattern/FlightSimulator/.vs/FlightSimulator/v17/DocumentLayout.backup.json
/StructuralDesignPatterns/Adaptor_DesignPattern/FlightSimulator/.vs/FlightSimulator/v17/DocumentLayout.json
/StructuralDesignPatterns/Adaptor_DesignPattern/FlightSimulator/.vs/FlightSimulator/v17/ipch/AutoPCH/301836b741cd2e0f/ACCELADAPTER.ipch
/StructuralDesignPatterns/Adaptor_DesignPattern/FlightSimulator/.vs/FlightSimulator/v17/ipch/AutoPCH/5a3fc7df2314e056/MAIN.ipch
/StructuralDesignPatterns/Adaptor_DesignPattern/FlightSimulator/.vs/FlightSimulator/v17/ipch/AutoPCH/9b51436e37f93766/KEYBOARD.ipch
/StructuralDesignPatterns/Adaptor_DesignPattern/FlightSimulator/.vs/FlightSimulator/v17/ipch/AutoPCH/be1c03067b2e4e2/ACCELEROMETER.ipch
/StructuralDesignPatterns/Adaptor_DesignPattern/FlightSimulator/.vs/FlightSimulator/v17/ipch/AutoPCH/d4a323c70c078917/INPUT.ipch
/StructuralDesignPatterns/Adaptor_DesignPattern/FlightSimulator/.vs/FlightSimulator/v17/ipch/AutoPCH/e5794fb70d29fa48/ACCELADAPTER.ipch
/StructuralDesignPatterns/Adaptor_DesignPattern/FlightSimulator/.vs/FlightSimulator/v17/Solution.VC.db
/StructuralDesignPatterns/Adaptor_DesignPattern/FlightSimulator/FlightSimulator/x64/Debug/Input.obj
/StructuralDesignPatterns/Adaptor_DesignPattern/FlightSimulator/FlightSimulator/x64/Debug/KeyBoard.obj
/StructuralDesignPatterns/Adaptor_DesignPattern/FlightSimulator/FlightSimulator/x64/Debug/main.obj
/StructuralDesignPatterns/Adaptor_DesignPattern/FlightSimulator/FlightSimulator/x64/Debug/vc143.idb
/StructuralDesignPatterns/Adaptor_DesignPattern/FlightSimulator/FlightSimulator/x64/Debug/vc143.pdb
/StructuralDesignPatterns/Adaptor_DesignPattern/FlightSimulator/x64/Debug/FlightSimulator.exe
/StructuralDesignPatterns/Adaptor_DesignPattern/FlightSimulator/x64/Debug/FlightSimulator.log
/StructuralDesignPatterns/Adaptor_DesignPattern/FlightSimulator/x64/Debug/FlightSimulator.pdb
/StructuralDesignPatterns/Adaptor_DesignPattern/FlightSimulator/x64/Debug/FlightSimulator.tlog/CL.command.1.tlog
/StructuralDesignPatterns/Adaptor_DesignPattern/FlightSimulator/x64/Debug/FlightSimulator.tlog/CL.read.1.tlog
/StructuralDesignPatterns/Adaptor_DesignPattern/FlightSimulator/x64/Debug/FlightSimulator.tlog/CL.write.1.tlog
/StructuralDesignPatterns/Adaptor_DesignPattern/FlightSimulator/x64/Debug/FlightSimulator.tlog/FlightSimulator.lastbuildstate
/StructuralDesignPatterns/Adaptor_DesignPattern/FlightSimulator/x64/Debug/FlightSimulator.tlog/link-cvtres.read.1.tlog
/StructuralDesignPatterns/Adaptor_DesignPattern/FlightSimulator/x64/Debug/FlightSimulator.tlog/link-cvtres.write.1.tlog
/StructuralDesignPatterns/Adaptor_DesignPattern/FlightSimulator/x64/Debug/FlightSimulator.tlog/link-rc.read.1.tlog
/StructuralDesignPatterns/Adaptor_DesignPattern/FlightSimulator/x64/Debug/FlightSimulator.tlog/link-rc.write.1.tlog
/StructuralDesignPatterns/Adaptor_DesignPattern/FlightSimulator/x64/Debug/FlightSimulator.tlog/link.command.1.tlog
/StructuralDesignPatterns/Adaptor_DesignPattern/FlightSimulator/x64/Debug/FlightSimulator.tlog/link.read.1.tlog
/StructuralDesignPatterns/Adaptor_DesignPattern/FlightSimulator/x64/Debug/FlightSimulator.tlog/link.read.2.tlog
/StructuralDesignPatterns/Adaptor_DesignPattern/FlightSimulator/x64/Debug/FlightSimulator.tlog/link.read.3.tlog
/StructuralDesignPatterns/Adaptor_DesignPattern/FlightSimulator/x64/Debug/FlightSimulator.tlog/link.read.4.tlog
/StructuralDesignPatterns/Adaptor_DesignPattern/FlightSimulator/x64/Debug/FlightSimulator.tlog/link.read.5.tlog
/StructuralDesignPatterns/Adaptor_DesignPattern/FlightSimulator/x64/Debug/FlightSimulator.tlog/link.write.1.tlog
/StructuralDesignPatterns/Adaptor_DesignPattern/FlightSimulator/x64/Debug/FlightSimulator.tlog/unsuccessfulbuild
/StructuralDesignPatterns/Adaptor_DesignPattern/FlightSimulator/x64/Debug/Input.obj
/StructuralDesignPatterns/Adaptor_DesignPattern/FlightSimulator/x64/Debug/KeyBoard.obj
/StructuralDesignPatterns/Adaptor_DesignPattern/FlightSimulator/x64/Debug/vc143.idb
/StructuralDesignPatterns/Adaptor_DesignPattern/FlightSimulator/x64/Debug/vc143.pdb
/StructuralDesignPatterns/Adaptor_DesignPattern/FlightSimulator/FlightSimulator.vcxproj.filters
/StructuralDesignPatterns/Adaptor_DesignPattern/FlightSimulator/FlightSimulator.vcxproj.user
/StructuralDesignPatterns/Adaptor_DesignPattern/FlightSimulator/FlightSimulator/x64/Debug/AccelAdapter.obj
/StructuralDesignPatterns/Adaptor_DesignPattern/FlightSimulator/FlightSimulator/x64/Debug/Accelerometer.obj
/StructuralDesignPatterns/Adaptor_DesignPattern/FlightSimulator/FlightSimulator/x64/Debug/FlightSimulator.exe.recipe
/StructuralDesignPatterns/Adaptor_DesignPattern/FlightSimulator/FlightSimulator/x64/Debug/FlightSimulator.ilk
/StructuralDesignPatterns/Adaptor_DesignPattern/FlightSimulator/FlightSimulator/x64/Debug/FlightSimulator.log
/StructuralDesignPatterns/Adaptor_DesignPattern/FlightSimulator/FlightSimulator/x64/Debug/FlightSimulator.tlog/CL.command.1.tlog
/StructuralDesignPatterns/Adaptor_DesignPattern/FlightSimulator/FlightSimulator/x64/Debug/FlightSimulator.tlog/Cl.items.tlog
/StructuralDesignPatterns/Adaptor_DesignPattern/FlightSimulator/FlightSimulator/x64/Debug/FlightSimulator.tlog/CL.read.1.tlog
/StructuralDesignPatterns/Adaptor_DesignPattern/FlightSimulator/FlightSimulator/x64/Debug/FlightSimulator.tlog/CL.write.1.tlog
/StructuralDesignPatterns/Adaptor_DesignPattern/FlightSimulator/FlightSimulator/x64/Debug/FlightSimulator.tlog/FlightSimulator.lastbuildstate
/StructuralDesignPatterns/Adaptor_DesignPattern/FlightSimulator/FlightSimulator/x64/Debug/FlightSimulator.tlog/link.command.1.tlog
/StructuralDesignPatterns/Adaptor_DesignPattern/FlightSimulator/FlightSimulator/x64/Debug/FlightSimulator.tlog/link.read.1.tlog
/StructuralDesignPatterns/Adaptor_DesignPattern/FlightSimulator/FlightSimulator/x64/Debug/FlightSimulator.tlog/link.secondary.1.tlog
/StructuralDesignPatterns/Adaptor_DesignPattern/FlightSimulator/FlightSimulator/x64/Debug/FlightSimulator.tlog/link.write.1.tlog
/StructuralDesignPatterns/Adaptor_DesignPattern/FlightSimulator/.vs/FlightSimulator/FileContentIndex/12174a3c-b7c0-4daf-bcc9-6de800f60b0d.vsidx
/StructuralDesignPatterns/Adaptor_DesignPattern/FlightSimulator/.vs/FlightSimulator/FileContentIndex/4e4e188a-6b7a-4120-baf3-e19f57fbd603.vsidx
/StructuralDesignPatterns/Adaptor_DesignPattern/FlightSimulator/.vs/FlightSimulator/FileContentIndex/8c7ba853-6bcb-435d-aa0b-723731270cf4.vsidx
/StructuralDesignPatterns/Adaptor_DesignPattern/FlightSimulator/.vs/FlightSimulator/FileContentIndex/ac90a6bc-5cae-4552-bd35-94ad2d3d54c6.vsidx
/StructuralDesignPatterns/Adaptor_DesignPattern/FlightSimulator/.vs/FlightSimulator/v17/ipch/AutoPCH/7f6eac0ec041add5/CONSOLECOLORS.ipch
/StructuralDesignPatterns/Adaptor_DesignPattern/FlightSimulator/.vs/FlightSimulator/v17/ipch/AutoPCH/968015d76d8580ca/FACADSECONSOLE.ipch
/StructuralDesignPatterns/Adaptor_DesignPattern/FlightSimulator/.vs/FlightSimulator/v17/ipch/AutoPCH/97520e269405f003/TMPCC34.TMP.ipch
/StructuralDesignPatterns/Adaptor_DesignPattern/FlightSimulator/.vs/FlightSimulator/v17/ipch/AutoPCH/c7b6bee33e2f1a71/FACADSECONSOLE.ipch
/StructuralDesignPatterns/Adaptor_DesignPattern/FlightSimulator/.vs/FlightSimulator/v17/ipch/AutoPCH/f6527ac06bea1793/CONSOLECOLORS.ipch
/StructuralDesignPatterns/Adaptor_DesignPattern/FlightSimulator/x64/Debug/ConsoleColors.exe
/StructuralDesignPatterns/Adaptor_DesignPattern/FlightSimulator/x64/Debug/ConsoleColors.pdb
/StructuralDesignPatterns/Facade_DesignPattern/ConsoleColors/ConsoleColors.vcxproj.filters
/StructuralDesignPatterns/Facade_DesignPattern/ConsoleColors/ConsoleColors.vcxproj.user
/StructuralDesignPatterns/Facade_DesignPattern/ConsoleColors/x64/Debug/ConsoleColors.exe.recipe
/StructuralDesignPatterns/Facade_DesignPattern/ConsoleColors/x64/Debug/ConsoleColors.ilk
/StructuralDesignPatterns/Facade_DesignPattern/ConsoleColors/x64/Debug/ConsoleColors.log
/StructuralDesignPatterns/Facade_DesignPattern/ConsoleColors/x64/Debug/ConsoleColors.obj
/StructuralDesignPatterns/Facade_DesignPattern/ConsoleColors/x64/Debug/ConsoleColors.tlog/CL.command.1.tlog
/StructuralDesignPatterns/Facade_DesignPattern/ConsoleColors/x64/Debug/ConsoleColors.tlog/Cl.items.tlog
/StructuralDesignPatterns/Facade_DesignPattern/ConsoleColors/x64/Debug/ConsoleColors.tlog/CL.read.1.tlog
/StructuralDesignPatterns/Facade_DesignPattern/ConsoleColors/x64/Debug/ConsoleColors.tlog/CL.write.1.tlog
/StructuralDesignPatterns/Facade_DesignPattern/ConsoleColors/x64/Debug/ConsoleColors.tlog/ConsoleColors.lastbuildstate
/StructuralDesignPatterns/Facade_DesignPattern/ConsoleColors/x64/Debug/ConsoleColors.tlog/link.command.1.tlog
/StructuralDesignPatterns/Facade_DesignPattern/ConsoleColors/x64/Debug/ConsoleColors.tlog/link.read.1.tlog
/StructuralDesignPatterns/Facade_DesignPattern/ConsoleColors/x64/Debug/ConsoleColors.tlog/link.secondary.1.tlog
/StructuralDesignPatterns/Facade_DesignPattern/ConsoleColors/x64/Debug/ConsoleColors.tlog/link.write.1.tlog
/StructuralDesignPatterns/Facade_DesignPattern/ConsoleColors/x64/Debug/FacadseConsole.obj
/StructuralDesignPatterns/Facade_DesignPattern/ConsoleColors/x64/Debug/vc143.idb
/StructuralDesignPatterns/Facade_DesignPattern/ConsoleColors/x64/Debug/vc143.pdb
