

/Adaptor_DesignPattern/.vs/
\
/Adaptor_DesignPattern/x64/

/x64/

/.vs/
/StructuralDesignPatterns/Adaptor_DesignPattern/FlightSimulator/.vs/

/StructuralDesignPatterns/Adaptor_DesignPattern/FlightSimulator/FlightSimulator/x64/



/StructuralDesignPatterns/Facade_DesignPattern/ConsoleColors/x64/
/StructuralDesignPatterns/Adaptor_DesignPattern/FlightSimulator/.vs/
/StructuralDesignPatterns/Facade_DesignPattern/SmartHome/.vs/

/StructuralDesignPatterns/Proxy_DesignPattern/Virtual_Proxy_LayInitialization/ImageLoading/x64/

/StructuralDesignPatterns/Proxy_DesignPattern/Virtual_Proxy_LayInitialization/ImageLoading/.vs/
/StructuralDesignPatterns/Adaptor_DesignPattern/FlightSimulator/x64/
/StructuralDesignPatterns/Proxy_DesignPattern/Virtual_Proxy_LayInitialization/ImageLoading/ImageLoading/x64/
/StructuralDesignPatterns/Proxy_DesignPattern/Protection_Proxy/x64/
/StructuralDesignPatterns/Decorator_DesignPattern/Decorator_BasicExample/.vs/
/StructuralDesignPatterns/Decorator_DesignPattern/Decorator_BasicExample/x64/
/StructuralDesignPatterns/Decorator_DesignPattern/Decorator_BasicExample/Decorato.0d5d61bf/x64/
/StructuralDesignPatterns/Decorator_DesignPattern/InputStream/x64/
/StructuralDesignPatterns/Decorator_DesignPattern/StaticDecorator/x64/
/StructuralDesignPatterns/Decorator_DesignPattern/FunctionalDecorator/x64/
/StructuralDesignPatterns/Composite_DesignPattern/Organization/.vs/
/StructuralDesignPatterns/Composite_DesignPattern/Organization/x64/
/StructuralDesignPatterns/Composite_DesignPattern/Organization/Organization/x64/
/CreationalDesignPatters/SingleTone_DesignPattern/Basic/.vs/
/CreationalDesignPatters/SingleTone_DesignPattern/Basic/Basic/x64/Debug/
/StructuralDesignPatterns/Bridge_DesignPattern/Shapes/.vs/
/StructuralDesignPatterns/Bridge_DesignPattern/Shapes/Shapes/x64/Debug/
/CreationalDesignPatters/SingleTone_DesignPattern/Basic/x64/Debug/
/CreationalDesignPatters/SingleTone_DesignPattern/Basic/Basic.vcxproj
/CreationalDesignPatters/SingleTone_DesignPattern/Basic/Basic.vcxproj.filters
/CreationalDesignPatters/SingleTone_DesignPattern/Basic/Basic.vcxproj.user
/StructuralDesignPatterns/Bridge_DesignPattern/Shapes/Shapes.sln
/StructuralDesignPatterns/Bridge_DesignPattern/Shapes/Shapes.vcxproj
/StructuralDesignPatterns/Bridge_DesignPattern/Shapes/Shapes.vcxproj.filters
/StructuralDesignPatterns/Bridge_DesignPattern/Shapes/Shapes.vcxproj.user
/StructuralDesignPatterns/Bridge_DesignPattern/Shapes/x64/Debug/
/StructuralDesignPatterns/Composite_DesignPattern/Organization/Organization.sln
/CreationalDesignPatters/Factory_DesignPattern/Parametrized_Factory/.vs/
/CreationalDesignPatters/Factory_DesignPattern/Parametrized_Factory/Parametr.fc5af322/x64/Debug/
/CreationalDesignPatters/Factory_DesignPattern/Parametrized_Factory/x64/Debug/Parametrized_Factory.exe
/CreationalDesignPatters/Factory_DesignPattern/Parametrized_Factory/x64/Debug/Parametrized_Factory.pdb
